body {
    background-color: #ffe6ff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

img {
    border-radius: 8px;
}

.title {
    font-weight: bold;
    color: purple
}

.tagline {
    font-family: Arial, sans-serif;
    font-size: 18px
    font-weight: normal;
}
