body {
    background-color: #FFE6FF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
}

h1 {

}

img {
    border-radius: 8px;
}

.title {
    font-weight: bold;
    color: rgb(149, 80, 132);
}

.tagline {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
}
